%body
    %div
        %h1 Create Account
            = form_for @user do |form|
            %div
                = form.text_field :profile_picture_link, placeholder: "Link to image"
                = form.text_field :username, placeholder: "Username"
                = form.text_field :email, placeholder: "Email"
                = form.password_field :password, placeholder: "Password"
                = form.password_field :vPassword, placeholder: "Verify Password"
                = form.text_field :discord_username, placeholder: "Discord"
                = form.text_field :instagram_handle, placeholder: "IG Handle"
                = form.text_field :github_link, placeholder: "Link to GitHub user"
                = form.submit "Create Account"
                = submit_tag "Back", form: "back"
                = form_tag root_path, :id => 'back', :method => :get do |form|
    %div
        - if flash[:notice] != nil
            %p{class: "popup"}= flash[:notice]
            %p Make sure to include ways to navigate to other pages from here