%form
    %div#form
        .field
            %div
                = f.label :title
            %div
                = f.text_field :title
    %div#form
        .field
            %div
                = f.label :post_description
            %div
                = f.text_field :post_description
    %div#form
        .field
            %div
                = f.label :project_motivation
            %div
                = f.text_field :project_motivation
    %div#form
        .field
            %div
                = f.label :github_repo_link
            %div
                = f.text_field :github_repo_link
    %div#form
        .field
            %div
                = f.label :video_url
            %div
                = f.text_field :video_url
    %button.btn.btn-primary.primary-button{ type: 'submit' } Submit
    //= form.text_field :title, placeholder: "Title"
    //= form.text_field :post_description, placeholder: "Description"
    //= form.text_field :project_motivation, placeholder: "Motivation"
    //= form.text_field :github_repo_link, placeholder: "Github Link"
    //= form.text_field :video_url, placeholder: "URL of Video"
    //= form.submit "Update Post"
    //%input{:type => "submit", :value => "Sign in"}