%h2 All Posts
%table#posts.table.table-striped.col-md-12
  %thead
    %tr
      %th Post Title
      %th 
        = link_to 'Users', list_users_path
      %th Last Updated
      %th More Info
  %tbody
    - @posts.each do |post|
      %tr
        %td
          = link_to "#{post.post_title}", show_post_path(:id=>post.id)
        %td
          = post.username
        %td
          = post.updated_at
= link_to 'Add new post', new_post_path, :class => 'btn btn-primary'