%body
    %h2
    %em= @post.post_title
    
    %ul#details
    %li
        Author: #{@post.username}
    %li
        Last updated on: #{@post.updated_at}
        
    %h3 Description:
    %p#description
        = markdown(@post.post_description)

%p total Downvotes: #{@total_downvote}
%p total Upvotes: #{@total_upvote}

- @vote_choices.each do |vote_choice|
    = link_to vote_choice[0], vote_path(:id => @post.id, :vote_type => vote_choice[1]), :method => "get"

.rating
    / Thumbs up
    .like.grow
        %span.fa.fa-thumbs-up.fa-3x.like{"aria-hidden" => "true"}
    / Thumbs down
    .dislike.grow
        %span.fa.fa-thumbs-down.fa-3x.like{"aria-hidden" => "true"}

%br
%br
= link_to 'Edit posts', edit_post_path(:id => @post.id), :method => "get"
= link_to_if @post.username == session['username'], 'Delete posts', delete_post_path(:id => @post.id), :method => "delete"

%div
    -if notice != nil
        %p{class: "popup"}= notice