%body
    %h2 
        %em= @post.post_title
    
    %ul#details
    %li
        Author: #{@post.username}
    %li
        Last updated on: #{@post.updated_at}
        
    %h3 Description:
    %p#description
        = markdown(@post.post_description)

.rating
    /Thumbs up
    .like.grow
        = link_to "  #{@total_upvote}  ", vote_path(:id => @post.id, :vote_type => 1), :method => "get", :class => "span fa fa-thumbs-up fa-2x like", "aria-hidden" => "true"
    /Thumbs down
    .dislike.grow
        = link_to "  #{@total_downvote}  ", vote_path(:id => @post.id, :vote_type => 0), :method => "get", :class => "span fa fa-thumbs-down fa-2x like", "aria-hidden" => "true", :id => "vote_thumbs_down"

%br
%br
= link_to 'Edit posts', edit_post_path(:id => @post.id), :method => "get", :class => "btn btn-warning"
= link_to_if @post.username == session['username'], 'Delete posts', delete_post_path(:id => @post.id), :method => "delete", :class => "btn btn-danger"

%div
    -if notice != nil
        %p{class: "popup"}= notice